


.sai-container{

}



[v-cloak]
{
    display: none;
}
*{

    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
ul,li{
    list-style: none;
}

.sai-clearfix{
    clear: both;
}
.sai-button-pointer{
    cursor: pointer;
}
/*.el-form-item{*/
/*margin-bottom: 10px;*/
/*}*/
/*表格样式*/
.el-table{
    font-size: 12px;
}
/*减少表格里按钮间的距离*/
.el-table button{
    padding: 2px;
}
.el-table__row .el-button+.el-button{
    margin-left: 1px!important;
}
/*表头背景色*/
.el-table thead th, .el-table thead tr{
    background-color: #73c5b5;
    color: #fff;
    font-weight: normal!important;
}
/*input禁用文字颜色覆盖*/
.el-input.is-disabled .el-input__inner{
    color: #333;
}
/*弹窗里文字大小*/
.el-dialog__body{
    font-size: 13px;
}
/*详情弹窗宽度加大*/
.sai-detail-dialog .el-dialog{
    width: 65%;
}

/*返回按钮样式*/
.sai-back-icon{
    margin-top: -25px;
    padding-right: 10px;
}

/*表单必填标志*/
.sai-required:before{
    content: '*';
    color: #f56c6c;
    margin-right: 4px;
}
.sai-opacity:before{
    opacity: 0;
}
/*阴影*/
.sai-shadow{
    box-shadow:0 2px 15px 0 rgba(0,0,0,0.06);
    border-bottom: 1px solid #f1f1f1;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
}

/*详情页布局*/
.sai-filter-box{
    height: 30px;
    margin: 15px 0 10px 0;
}
.sai-title-item-left{
    /*font-weight: bold;*/
    height:26px;
    line-height: 26px;
    margin-top: 25px;
    margin-bottom: 16px;
    font-size: 15px;
    color: #227B69 ;
    padding-left: 5px;
    margin-left: -5px;
}
.sai-title-item-left:before{
    content: "";
    width: 2px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 3px;
    background: #288E9B;
    height: 15px;
}
.sai-title-item-right{
    float: right;
    font-size: 13px;
    color: #277EAC;
    cursor: pointer;
}
.sai-form-item{
    margin: 10px 0;
}
.sai-form-item .el-row{
    line-height: 30px;
}
.sai-form-item label{
    color: rgba(0,0,0,0.8);
}
.sai-form-item span{
    color: rgba(0,0,0,0.6);
}
/*分隔线*/
.sai-line-item{
    height: 2px;
    background-color: #e8e7e7;
    margin-bottom: 10px;
}
/*虚线框*/
.sai-add-border{
    border: 2px dashed #ebeef5;
    color: #21AB8F;
    text-align: center;
    cursor: pointer;
}

.saic-add-bank-selected{
    font-size: 16px;
    color: #227B69;
    border-bottom: 2px solid;
    border-radius: 2px;
}
.saic-canvas-body{
    height: 100%; width: 100%; border: 1px solid black;cursor: pointer;
}
.saic-warn-info{
    color: #D0021B;
    font-size: 12px;
}
/*添加银行卡弹窗样式  end*/


.sai-margin-top-20
{
    margin-top: 20px;
}
/*溢出*/
.sai-ellipsis
{
    white-space:   nowrap;
    overflow:      hidden;
    text-overflow: ellipsis;
}
.sai-font-size-12
{
    font-size:12px;
}

/*图片列表，酒店用--start*/
.sai-pic-delete{
    position:absolute;
    top:-5px;
    right:-5px;
    z-index: 10;
}
.sai-pic-container{
    width:160px;
    position:relative;
    margin-top: 20px;
}
.sai-pic-content{
    position:relative;
    top:0;
}
.sai-pic-bottom {
    padding:10px;
    /*margin-top:5px;*/

}

.sai-pic-button {
    padding: 0;
    cursor:pointer;
    /*float: right;*/
}

.sai-pic-image {
    width: 100%;
    height: 90px;
    display: block;
}
.sai-pic-title {
    width: 154px;
    padding: 3px;
    margin-top: -23px;
    background-color: black;
    color:white;
    opacity:0.6;
    font-size: 12px;
    text-align: center;
}

.sai-pic-clearfix:before,
.sai-pic-clearfix:after {
    display: table;
    content: "";
}

.sai-pic-clearfix:after {
    clear: both
}

.sai-board {
    padding: 10px 25px 10px 25px;
    border: 1px solid  #21AB8F;

}



/*!*表格数据溢出显示省略号，更多内容需到详情页查看*!*/
.el-table .cell
{
    white-space: nowrap;
}

.sai-filter-left,.sai-filter-right
{
    height: 100%;
    display: table;
}
.sai-filter-left
{
    float: left;
}
.sai-filter-right
{
    float: right;
}
.el-breadcrumb
{
    margin-bottom: 10px;
}
.sai-filter-box .el-form-item--mini.el-form-item,
.sai-filter-box .el-form-item--small.el-form-item
{
    margin-bottom: 0;
}


.sai-panel
{
    background: #ffffff;
    margin-bottom: 10px;
}

.sai-panel-title
{
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    line-height: 40px;
    border-bottom: 1px solid #e8e8e8;
}
.sai-panel-content .el-form-item__content,.sai-panel-content .el-form-item__label
{
    font-size: 13px;
}
.sai-common-back
{
    color:#21AB8F;
    cursor: pointer;
    font-size: 14px;
}
.sai-align-item{
    display: flex;
    align-items: center;
    height: 100%;
}

.sai-icon-title-margin{
    margin-left: 10px;
}
.sai-icon-content{
    font-size: 12px;
}
.sai-icon-title{
    color: #3f4d5b;
}
.sai-padding-updown{
    padding: 30px 0 30px 0;
}