<style>
    .top-bar{
       padding: 0;
    }
    .sai-header{
        height: 50px;
        background-color: #F8FBFC;
    }
    .sai-header-title{
        font-size: 18px;
        height: 50px;
        line-height: 50px;
        padding-left: 10px;
        float: left;
        font-weight: bolder;
        background-color: #21AB8F;
        width: 200px;
        color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90% auto;
        /*background-image: url("/public/project/back/img/pic_title_logo.png");*/
    }
    .sai-header-user{
        margin-left: 220px;
        padding-right: 15px;
        font-size: 12px;
        text-indent: 35px;
        background-size: 15px;
        background-position-x: 10px;
        background-position-y: center;
        background-repeat: no-repeat;
        background-image: url("/public/project/back/img/ic_title_notice.png");
    }
    .sai-user-name,.sai-login-out{
        line-height: 50px;
        height: 50px;
    }
    .sai-login-out{
        position: absolute;
        top:0;
        right: 10px;
        width: 100px;
        text-align: 20px;
        background-size: 15px;
        background-position-x: 10px;
        background-position-y: center;
        background-repeat: no-repeat;
        background-image: url("/public/project/back/img/ic_title_logout.png");
    }

</style>
<div class="top-bar navbar-fixed-top sai-header">
    <div class="sai-header-title"><%- userSchool%>管理系统</div>

    <div class="sai-header-user">
        <div class="sai-user-name" id="userName"> <%- userName%>，你好</div>

        <div class="sai-login-out sai-button-pointer" onclick="backLoginOut()">&nbsp退出登录</div>
    </div>
</div>